@import 'normalize.css';

:root {
    //color
    --primary: rgb(245, 42, 83);
    --back: black;
    --white: white;
    --text-color: #161823;
    --text-color-light: #161823bf;

    // default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;

    --btn-hover: rgba(22, 24, 35, 0.06);
    --btn-primary-active: rgb(219, 41, 76);
    --btn-outline-active: rgba(254, 44, 85, 0.16);
    --btn-none-active: rgb(22, 24, 35, 0.16);;

    --font-family: 'ProximaNova', sans-serif;
}

// Fonts
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow-y: hidden;
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

//custom scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, .1);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}


button, input, [tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Custom tippy tooltip
body {
    .tippy-box {
        height: 38px;
        border-radius: 8px;
        background-color: rgba(84, 84, 84, 0.92);
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.2rem;
    }
    
    &.tippy-arrow {
        color: rgba(84, 84, 84, 0.92)
    }
}
    