@import 'normalize.css';

// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

:root {
    //color
    --primary: rgb(245, 42, 83);
    --back: black;
    --white: white;
    --text-color: #333;

    // default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;

    --btn-hover: rgba(22, 24, 35, 0.06);

    --font-family: 'ProximaNova', sans-serif;
}

// Fonts
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button, input, [tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Custom tippy tooltip
body {
    .tippy-box {
        height: 38px;
        border-radius: 8px;
        background-color: rgba(84, 84, 84, 0.92);
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.2rem;
    }
    
    &.tippy-arrow {
        color: rgba(84, 84, 84, 0.92)
    }
}
    