.wrapper {
    width: 1312px;
    height: 635px;
    background-image: url('../../assets/images/backgroundLive.png');
    text-align: center;
    border-radius: 4px;
    position: relative;
    padding: 0px 12px;
}

.video {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:hover .info {
        bottom: 48px;
    }

    &:hover .video-btn {
        display: flex;
    }

    &:hover .line {
        display: block;
    }
}

.line {
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 75%;
    display: none;

    & span {
        position: absolute;
        display: block;
        width: 95%;
        height: 1px;
        background-color: rgba(170, 169, 169, 0.17);
        margin-left: 50%;
        transform: translateX(-50%);
    }

    & .live-icon {
        transform: rotate(-180deg) translateY(-6px);
        margin-right: 6px;
    }

    & div {
        color: var(--white);
        font-size: 1.3rem;
        position: relative;
        top: -20px;
    }
}

.info {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: start;
    padding: 6px 12px;
}

.live {
    color: var(--white);
    font-size: 1.2rem;
    border-radius: 2px;
    height: 20px;
    width: 36px;
    margin-bottom: 6px;
    background-color: var(--primary);
    text-align: center;
}

.group-name {
    color: var(--white);

    & strong {
        font-size: 1.4rem;
    }

    & span {
        font-size: 1.2rem;
    }
}

.user-group {
    margin: 0 4px 0 12px;
    transform: translateY(2px);
}

.desc {
    color: var(--white);
    font-size: 1.2rem;
}

.video-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    padding: 16px;
    display: none;
}

.left {
    color: var(--white);
    display: flex;
    align-items: center;

    & :first-child {
        margin-right: 12px;
    }

    & * {
        cursor: pointer;
    }
}

.right {
    color: var(--white);
    display: flex;
    align-items: center;

    & * {
        cursor: pointer;
    }
}

.auto-play {
    margin-right: 24px;
    width: fit-content;
    height: 26px;
    background-color: rgba(37, 37, 37, 0.6);
    font-size: 1rem;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

.autoPlay-custom i {
    color: #aaa;
}
