.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: var(--default-layout-header-height)
}

.container {
    padding: 0 var(--default-layout-horizontal-spacer);
    width: var(--default-layout-width);
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.content {
    flex: 0.89;
    padding: 24px 0 0 0;
}