.wrapper {
    border-top: 1px solid #ddd;
    margin-bottom: 8px;
}

.label {
    font-size: 1.2rem;
    color: var(--text-color-light);
    padding: 8px;
    font-weight: 400;
}

.more-btn {
    width: fit-content;
    font-size: 1.2rem;
    color: var(--primary);
    font-weight: 600;
    padding: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.less-btn {
    width: fit-content;
    font-size: 1.2rem;
    color: var(--primary);
    font-weight: 600;
    padding: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none
}

.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color ease-in-out 0.2s;

    &:hover {
        background-color: var(--btn-hover);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.item-info {
    flex: 1;
    margin-left: 12px;
    line-height: 1;
}

.name {
    font-size: 1.3rem;
    font-family: SofiaPro;
    color: var(--text-color);
    text-overflow: ellipsis;
}

.icon {
    font-size: 1.4rem;
    margin-left: 6px;
    color: #20d5ec;
}

.nickname {
    font-size: 1rem;
    color: var(--text-color-light);
    line-height: 1.6rem;
}