.wrapper {
    height: fit-content;
    max-width: 100%;
    border-radius: 12px;
    background-color: white;
    z-index: 10;
    position: relative;
}

.message {
    width: fit-content;
    padding: 4px 12px;
    color: var(--white);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.icon {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: 16px;
    margin-top: 16px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: rgba(22, 24, 35, 0.06);
    cursor: pointer;
}

.header {
    font-family: SofiaPro;
    font-size: 1.8rem;
    text-align: center;
}

.container {
    padding: 24px 48px 48px;
}

.footer {
    padding: 16px 0px;
    border-top: 1px solid #ccc;
    text-align: center;
}

.text {
    font-size: 1.4rem;
}

.redirect {
    font-size: 1.4rem;
    color: var(--primary);
    font-weight: 600;
    cursor: pointer;
}
