.wrapper {
    padding: 16px 0 0 8px;

    & a {
        color: var(--text-color-light) !important;
        margin-right: 6px;

        &:hover {text-decoration: underline;}
    }

    & section {
        font-size: 1.1rem;
        margin-bottom: 12px;
        display: flex;
        flex-wrap: wrap;
    }

    & span {
        font-size: 1.1rem;
    }
}