.wrapper {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.left {
    flex: 0 0 auto;
}

.link:hover .nickName {
    text-decoration: underline;
}

.avatar {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
}

.right {
    flex: 1 1;
    margin-left: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-wrapper {
    padding-right: 24px;
}

.link-wrapper {
    display: flex;
    align-items: flex-end;
}

.time {
    font-size: 1.2rem;
    color: var(--text-color);
}

.follow-btn {
    height: 28px;
    font-size: 1.4rem;

    &.following {
        border-color: #ccc;
        color: var(--text-color);

        &:active {
            background-color: var(--btn-none-active);
        }
    }
}
.user-info {
    display: flex;
    align-items: flex-end;
}

.nickName {
    font-size: 1.4rem;
    color: var(--text-color);
    white-space: nowrap;
    font-family: SofiaPro;
    font-family: 700;
    margin-right: 6px;
}

.icon {
    font-size: 1.4rem;
    margin-right: 6px;
    color: rgb(32, 213, 236);
    transform: translateY(-4px);
}

.name {
    font-size: 1.2rem;
    color: var(--text-color);
}

.desc {
    font-size: 1.3rem;
}

.song {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    & strong {
        margin-left: 6px;
    }
}

.body {
    display: flex;
    align-items: flex-end;
}

.video {
    width: fit-content;
    height: fit-content;
    min-width: 293px; 
    max-width: 522px;
    min-height: 295px;
    max-height: 522px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.action {

}

.action-wrapper {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    cursor: pointer;

    & span {
        font-size: 1rem;
        font-weight: 700;
        color: var(--text-color-light);
        user-select: none;
        -webkit-user-select: none;
    }

    
    &.active {
        color: var(--primary);
    }
}

.action-icon {
    position: relative;
    margin-bottom: 8px;
    user-select: none;

    &::after {
        content: "";
        position: absolute;
        width: 48px;
        height: 48px;
        top: -30%;
        left: -60%;
        background-color: rgba(22, 24, 35, 0.08);
        border-radius: 50%;
    }
}

.share-wrapper {
    width: 280px;
    height: fit-content;
    overflow-y: scroll;
    max-height: 448px;
    padding: 8px 0;
}

.share-item {
    width: 100%;
    justify-content: unset;
    cursor: pointer;

    & + .share-item {
        margin-left: unset;
    }

    & > span:last-child {
        font-size: 1.3rem;
        margin-left: 12px;
        transform: translateY(-2px);
    }

    &:hover {
        background-color: var(--btn-hover);
    }
}

.seeMore-icon {
    width: 100%;
    text-align: center;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
        background-color: var(--btn-hover);
    }
}