.wrapper {
    padding: 20px;
    width: 320px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 50%;
}

.btn {
    padding: 4px;
    font-size: 1.5rem;
    font-weight: 400;

    &.following {
        border-color: #ccc;
        color: var(--text-color);

        &:hover {
            background-color: var(--btn-hover);
        }
    }
}

.body {
    margin-top: 18px;
    color: var(--text-color);
}

.item-info {
    width: fit-content;
}

.nickName {
    font-size: 1.6rem;
    line-height: 1rem;
    font-family: SofiaPro;
}

.icon {
    font-size: 1.4rem;
    margin-left: 6px;
    color: #20d5ec;
}

.name {
    font-size: 1.2rem;
    margin-top: 6px;
}

.analytics {
    font-size: 1.5rem;
    margin-top: 12px;
}

.value ~ .value {
    margin-left: 20px;
}

.label {
    color: var(--text-color-light);
}
