.wrapper {
    padding: 20px 0px 20px 8px;
    margin-left: -20px;
    width: 356px;
    height: calc(100vh - 60px);
    max-height: 100%;
}

/* Ẩn scrollbar khi không hover */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hiển thị scrollbar khi hover */
  .wrapper:hover::-webkit-scrollbar {
    display: block;
  }
  
  /* Thiết lập style cho thanh scrollbar */
  .wrapper::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
  }
  
  .wrapper::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 5px;
  }

